@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:ital,wght@1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background: url(images/monument-valley-g20ab015ac_640.jpeg) no-repeat center center fixed;;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.Heading{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: bold;
    color: gold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.Heading > h2 {
    font-size: 20px;
}

p{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 18px;
}



.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*
ids/ wagonCard deluxCard hunterCard DoctorCard
*/

.card {
    background-color: bisque;
    border: 3px solid #000;
    border-radius: 8px;
    flex: 0 1 15em;
    max-width:300px;
    margin: 10px 5px;
}

/*
wagonCard deluxCard hunterCard DoctorCard
*/

.card > p {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
	border: 0;
	width: 100%;
	height: auto;
}


.button{
    background-color:rgba(90, 82, 7, 0.274);
    border-radius: 10PX;
    font-size: 16px;
    cursor: pointer;
    padding: 6px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#startButton{
    background-color:rgba(100, 91, 9, 0.925);
    border-radius: 10PX;
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    margin: 50px;
    cursor: pointer;
    font-style: italic;
    font-size: 20px;
    color: gold;
} 


#cardMessage {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    background-color: bisque;
    border: 3px solid #000;
    border-radius: 8px;
    flex: 0 1 15em;
    margin: 20px auto;
    max-width: 95%;
    padding: 10px;
}